{% extends 'nav.html' %}

{% block content %}

<h1 class="text-center my-3">
  Product</h1>
 <hr> </br>
  
  <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Product Name</th>
          <th>Unit</th>
          <th>Product Price/Unit</th>
          <th>Category Name</th>
          {% if current_user.username == "bd12" %}
          <th>Quantity</th>
          <th>Edit/ Delete Option</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
          {% for product_detail in product_details %}
        <tr>
          <td>{{ product_detail.id }}</td>
          <td>{{ product_detail.name }}</td>
          <td>{{ product_detail.unit }}</td>
          <td>{{ product_detail.price }}</td>
          <td>{{product_detail.category_name.name }}</td>
          {% if current_user.username == "bd12" %}
          <td>{{ product_detail.quantity }}</td>
          {% endif %}
          <td>
            {% if current_user.username == "bd12" %}
            <a href="{{ url_for('edit_product', id=product_detail.id) }}" class="btn btn-secondary">Edit</a>
            <a href="{{url_for('delete_product', id=product_detail.id)}}" class="btn btn-danger" >Delete</a>
            {% endif %}

            {% if product_detail.quantity == 0 %}
            <form action="{{ url_for('create_cart') }}" method="GET">
            <button type="submit" class="btn btn-primary" disabled >Out of stock</button>
            </form>
            {% else %}
            
            <a href="{{ url_for('create_cart') }}">Add</a>
          </td>
        </tr>
        {%endif%}
          {% endfor %}
      </tbody>
  </table>
    <br>
    <br>
    <a href="{{ url_for('home') }}">Home</a>
    <br>
    {% if current_user.username == "bd12" %}
    <a href="{{ url_for('admin_dashboard') }}">Back</a>  
    {% endif %}
{% endblock content %}