{% extends 'nav.html' %}

{% block content %}

    <h2>User Dashboard {{ current_user.name }}  </h2>
    <hr>

    <div class="card" style="width: 30rem;">
        <div class="card-body">
              <h5 class="card-title">Create Cart</h5>
              <p class="card-text">Add product to cart</p>
              <a href="{{ url_for('create_cart') }}" class="btn btn-primary">Add to cart</a>
          </div>
      </div>
      <br>
      <div class="card" style="width: 30rem;">
        <div class="card-body">
              <h5 class="card-title">User Cart</h5>
              <p class="card-text">See your Cart</p>
              <a href="{{ url_for('my_cart') }}" class="btn btn-primary">My Cart</a>
          </div>
      </div>
     
    {% endblock content %}
